modules = ["nodejs-20", "web", "bash"]
[agent]
expertMode = true
stack = "GAMESTACK_JS"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5004
externalPort = 3002

[[ports]]
localPort = 5005
externalPort = 3003

[[ports]]
localPort = 5006
externalPort = 3000

[[ports]]
localPort = 5007
externalPort = 4200

[[ports]]
localPort = 5008
externalPort = 5000

[[ports]]
localPort = 5009
externalPort = 5173

[[ports]]
localPort = 5010
externalPort = 3001

[userenv]

[userenv.shared]
NEXT_PUBLIC_FIREBASE_API_KEY = "AIzaSy8RRcFPp2YwhQYawPvs9pUckwmCKcXzQhW"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN = "kalmeron-two.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID = "kalmeron-two"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET = "kalmeron-two.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = "686711690176"
NEXT_PUBLIC_FIREBASE_APP_ID = "1:686711690176:web:aef254de2ec4ea357ee25"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID = "G-GLX7PM8VCE"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]
